.cardinfo{
    font-size : 11px;
}

.cardinfo i{
    margin-right: 5px;
}

.teamName{
    margin-right: 7px;
    color:#fff;
    background-color: #d1d1d1;
    padding: 2px 5px;
}

.Date{
    color:#2196f3;
}